.container-ch {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-ch {
  height: 50vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.wrapper-ch > h2 {
  font-weight: bold;
  font-size: 36px;
  white-space: nowrap;
}

.wrapper-ch > p {
  font-size: 28px;
  font-weight: 500;
  color: #333;
}

.wrapper-ch > span {
  font-size: 24px;
  color: #555;
}
