.container-ft {
  height: 225px;
  width: 100%;
  padding-bottom: 2.5rem;
  margin-top: 7.5rem;
}

.wrapper-ft {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-ft {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.col-ft:nth-child(2) {
  align-items: center;
}

.col-ft:last-child {
  align-items: flex-end;
}

.title-ft {
  color: #444;
  margin-bottom: 16px;
}

.list-ft {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
  margin-left: 6px;
}

.list-ft > li {
  color: #777;
  font-size: 18px;
}

.list-ft > .workingTime {
  color: #000;
  font-size: 20px;
}

.list-ft > .workingTime:nth-child(2) {
  margin-bottom: 10px;
}

.iconList-ft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
  list-style: none;
  cursor: pointer;
  transition: 150ms all;
}

.iconList-ft > *:hover {
  color: #444;
}

.attribution-ft {
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-left: 12.5rem;
  margin-top: 5rem;
  padding-bottom: 2.5rem;
}

.attribution-ft a {
  text-decoration: none;
  color: #222;
  transition: 150ms all;
}

.attribution-ft a:hover {
  color: #777;
}
